[submodule "repos/dotfiles"]
	path = repos/dotfiles
	url = https://github.com/SqrtMinusOne/dotfiles.git
[submodule "repos/lyrics-fetcher"]
	path = repos/lyrics-fetcher
	url = https://github.com/SqrtMinusOne/lyrics-fetcher.el.git
