[submodule "repos/dotfiles"]
	path = repos/dotfiles
	url = https://github.com/SqrtMinusOne/dotfiles.git
[submodule "repos/lyrics-fetcher"]
	path = repos/lyrics-fetcher
	url = https://github.com/SqrtMinusOne/lyrics-fetcher.el.git
[submodule "repos/elfeed-summary"]
	path = repos/elfeed-summary
	url = git@github.com:SqrtMinusOne/elfeed-summary.git
[submodule "repos/org-journal-tags"]
	path = repos/org-journal-tags
	url = git@github.com:SqrtMinusOne/org-journal-tags.git
[submodule "repos/elfeed-sync"]
	path = repos/elfeed-sync
	url = git@github.com:SqrtMinusOne/elfeed-sync.git
[submodule "repos/biome"]
	path = repos/biome
	url = git@github.com:SqrtMinusOne/biome.git
[submodule "repos/org-clock-agg"]
	path = repos/org-clock-agg
	url = git@github.com:SqrtMinusOne/org-clock-agg.git
[submodule "repos/avy-dired"]
	path = repos/avy-dired
	url = git@github.com:SqrtMinusOne/avy-dired.git
[submodule "repos/pomm"]
	path = repos/pomm
	url = git@github.com:SqrtMinusOne/pomm.el.git
[submodule "repos/micromamba"]
	path = repos/micromamba
	url = git@github.com:SqrtMinusOne/micromamba.el.git
[submodule "repos/reverso"]
	path = repos/reverso
	url = git@github.com:SqrtMinusOne/reverso.el.git
[submodule "repos/perspective-exwm"]
	path = repos/perspective-exwm
	url = git@github.com:SqrtMinusOne/perspective-exwm.el.git
[submodule "repos/exwm-modeline"]
	path = repos/exwm-modeline
	url = git@github.com:SqrtMinusOne/exwm-modeline.git
[submodule "repos/eshell-atuin"]
	path = repos/eshell-atuin
	url = git@github.com:SqrtMinusOne/eshell-atuin.git
[submodule "repos/password-store-completion"]
	path = repos/password-store-completion
	url = git@github.com:SqrtMinusOne/password-store-completion.git
