<div id="footer" class="mb-5">
    <hr>
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
        <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        {{ end }}
    </div>
    {{ with .Site.Params.footer }}
    <div class="container text-center">
        {{ if .links }}
        {{ range $i, $item := .links }}
        <a href="{{ $item.url }}" title="{{ $item.text }}"><small>{{ $item.text }}</small></a>
        {{ if not (eq $i (sub (len $.Site.Params.footer.links) 1)) }}
        |
        {{ end }}
        {{ end }}
        <br>
        {{ end }}
        <a href="{{ .url | absURL }}" title="{{ .text }}"><small>{{ .text | safeHTML }}</small></a>
    </div>
    {{ end }}
</div>
